# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/web_fia_udec/wp-admin/
/web_fia_udec/wp-content/index.php
/web_fia_udec/wp-content/languages
/web_fia_udec/wp-content/plugins/index.php
/web_fia_udec/wp-content/themes/index.php
/web_fia_udec/wp-includes/
/web_fia_udec/index.php
/web_fia_udec/license.txt
/web_fia_udec/readme.html
/web_fia_udec/wp-*.php
!/web_fia_udec/wp-config-sample.php
/web_fia_udec/xmlrpc.php
/web_fia_udec/nginx.conf
/web_fia_udec/text.txt

# Configuration
/web_fia_udec/wp-config.php

# Example themes
/web_fia_udec/wp-content/themes/twenty*/

# Example plugin
/web_fia_udec/wp-content/plugins/hello.php

# Uploads
/web_fia_udec/wp-content/uploads/

# Log files
*.log

# htaccess
/web_fia_udec/.htaccess

# SQL Folder
sql/

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
